.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-table {
  text-align: left;
  font-size: medium;
}

table, th, td {
  border: 1px solid gray;
}

.App-table-url {
  white-space: nowrap;
}

.App-link {
  color: #61dafb;
}

.App-page-control {
  display: flex;
  flex-direction: row;
}

.App-page-control > * {
  margin: 16px 24px;
}

